.header-div {
    background-color: black;
    margin: 0;
    padding: 0 20px;
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 12px 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    margin: 15px;
    top: 0px;
}

.footer-div {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
}